{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Sekolah - API Django Rest Framework</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Jadwal Sekolah</h1>
        <table>
            <thead>
                <tr>
                    <th><a href="api/jadwal" class="btn-primary">Jadwal sekolah</th>
                    <th><a href="api/guru" class="btn-primary">guru</th>
                    <th><a href="api/ruangan">ruangan</th>
                    <th><a href="api/matapelajaran">mata pelajaran</th>
                </tr>
            </thead>
            <tbody>
            
                <!-- Tambahkan baris sesuai kebutuhan -->
            </tbody>
        </table>
    </div>
</body>
</html>
